*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
button{
    font-family: inherit;
}
.nav{
    padding: 20px 15px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}