* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}
select {
  outline: none;
}
.container {
  padding: 9px 14px;
}
header {
  position: sticky;
  top: 0;
  background: inherit;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-number {
  padding: 9px 13px;
  border: 1px solid;
  color: #fff;
  background-color: #00bafc;
  border-radius: 5px;
}
.phone-number span i {
  margin-right: 3px;
}
section {
  padding-top: 30px;
}
form {
  width: 100%;
}
.form-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}
.class-boxes {
  margin-bottom: 10px;
}
.class-boxes h2 {
  margin-bottom: 8px;
}
.classes {
  display: flex;
  justify-content: space-between;
}
.class-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.class-box label {
  font-size: 1rem;
}
.class-box select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: inherit;
}
.class-box:nth-child(1) select {
  width: 80%;
}
.box-subject {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.box-subject label {
  font-size: 1rem;
  margin-bottom: 5px;
}
.box-subject select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: inherit;
}
.box-dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-date {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.box-date label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.box-date input {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: inherit;
  padding: 5px 0;
  outline: none;
}
.box-time input{
  width: 95%;
}
